doctype html
html
  head
    title Cadastro de Cliente e Produto
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      .row
        .col-md-6.offset-md-3
          h1.text-center Cadastro de Cliente
          form(method="POST", action="/clientes")
            .form-group
              label(for="nome") Nome
              input.form-control(type="text", name="nome", id="nome", required)
            .form-group
              label(for="sobrenome") Sobrenome
              input.form-control(type="text", name="sobrenome", id="sobrenome", required)
            .form-group
              label(for="email") Email
              input.form-control(type="email", name="email", id="email", required)
            .form-group
              label(for="idade") Idade
              input.form-control(type="number", name="idade", id="idade", required)
            button.btn.btn-primary(type="submit") Cadastrar Cliente
      .row.mt-5
        .col-md-6.offset-md-3
          h1.text-center Cadastro de Produto
          form(method="POST", action="/produtos")
            .form-group
              label(for="nomeProduto") Nome do Produto
              input.form-control(type="text", name="nomeProduto", id="nomeProduto", required)
            .form-group
              label(for="descricaoProduto") Descrição do Produto
              input.form-control(type="text", name="descricaoProduto", id="descricaoProduto", required)
            .form-group
              label(for="precoProduto") Preço do Produto
              input.form-control(type="number", step="0.01", name="precoProduto", id="precoProduto", required)
            button.btn.btn-primary(type="submit") Cadastrar Produto
