doctype html
html
  head
    title Cadastro de Cliente e Produto
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      .row
        .col-md-6.offset-md-3
          h1.text-center Cadastro de Cliente e Produto
          form(method="POST", action="/cadastro")
            .form-group
              label(for="nomeCliente") Nome do Cliente
              input.form-control(type="text", name="nomeCliente", id="nomeCliente", required)
            .form-group
              label(for="sobrenomeCliente") Sobrenome do Cliente
              input.form-control(type="text", name="sobrenomeCliente", id="sobrenomeCliente", required)
            .form-group
              label(for="emailCliente") Email do Cliente
              input.form-control(type="email", name="emailCliente", id="emailCliente", required)
            .form-group
              label(for="idadeCliente") Idade do Cliente
              input.form-control(type="number", name="idadeCliente", id="idadeCliente", required)
            .form-group
              label(for="nomeProduto") Nome do Produto
              input.form-control(type="text", name="nomeProduto", id="nomeProduto", required)
            .form-group
              label(for="descricaoProduto") Descrição do Produto
              input.form-control(type="text", name="descricaoProduto", id="descricaoProduto", required)
            .form-group
              label(for="precoProduto") Preço do Produto
              input.form-control(type="number", step="0.01", name="precoProduto", id="precoProduto", required)
            button.btn.btn-primary(type="submit") Cadastrar
