doctype html
html
  head
    title Cadastro Bem-sucedido
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      .row
        .col-md-6.offset-md-3
          .alert.alert-success.mt-5
            h1.text-center Cadastro realizado com sucesso!
            p.text-center
              a.btn.btn-primary(href="/") Voltar para a página inicial
