doctype html
html
  head
    title Cliente Cadastrado
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      .row
        .col-md-6.offset-md-3
          h1.text-center Cliente Cadastrado com Sucesso
          p O cliente foi cadastrado com sucesso!
          a.btn.btn-primary(href="/") Voltar
